@charset "UTF-8";
/* Estilização Geral */
body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer {
    clear: both;
    background-color: #e0dcd6;
}

.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
/* Fim */
/* Estilização do menu de links */
.menu{
    font-size: 14px;
    height: auto;
    background-color: #1515bb;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.menu{
    text-align: center;
}
    
.menu li{
    display: inline;
    padding: 10px;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
}

.menu,
.inicio{
    vertical-align: middle;
}

#login{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
/* Fim */
/* Estilização do conteúdo principal */
/* Parte 1 */
.quadro h1{
    text-align: center;
    font-size: 26px;
    font-weight: bold;

    border-bottom: solid#ccc;
    padding-top: 20px;
    margin-bottom: 10px;
}

.curso{
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 10px;

    width: auto;
    height: auto;
    background-color: #ebdbdb;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px #999;
    float: left;

    position: absolute;
    right: 0;
}

.curso h2{
    font-size: 18px;
    color: #0000ff;
    padding-top: 10px;
    padding-left: 10px;
}

.curso h3{
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.curso h4{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;

}

section .container{
    position: relative;
}
/* Parte 2 */
.curriculo{
    width: 700px;
    border-radius: 4px 4px;
    box-shadow: 1px 1px 4px #999;
    padding-bottom: 10px;
}

.curriculo h1{
    padding-top: 10px;
    padding-left: 40px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;
    border-bottom: solid #020275;
}

.curriculo ul li{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.curriculo li ul{
    padding-top: 10px;
    background-color: #9999995b;
}

.curriculo li li{
    font-weight: normal;
}
/* Fim */
/* Estilização do rodapé */
.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social li a {
    height: 32px;
    width:  32px;
    
    display: inline;
}

.social li {
    float: left;
    margin-left: 25px;
}

.copy{
    text-align: center;
    font-weight: bold;
}

footer p{
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
}

footer .container {
    position: relative;
    bottom: 0;
}
/* Fim */